{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "", "^[./]", "", "<TYPES>"],
  "importOrderTypeScriptVersion": "5.0.0",
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always"
}
